body {
       background-color:burlywood;
}

#shedulesmspage,#normalsmspage{
  left: 45%;
    bottom:48%;
    /*top: 50%;*/
    margin-left: -25%;
    position: absolute;
    margin-top: -25%;
}
#sendMessage {
float:right;
background-color:black;
color:white;
height:40px;
width:100px;
border:13px;
border-radius:5px;
}
#txtphonenumber {
    border-radius:0px 5px 5px 0px;
}
.text-info {
    text-decoration-color:orangered;
}
/*#messagelog {
    float:right;
    color:cornflowerblue;
}*/
.container .col-md-6{
    background-color:red;
    /*margin-left:180px;
    margin-right:10%;*/
}
/*#shedulesmspage {
    left: 46%;
    bottom:38%;
    top: 50%;
    margin-left: -25%;
    position: absolute;
    margin-top: -25%;
}

